<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">From</th>
            <th scope="col">Notification</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let notification of notifications">
            <td>{{notification.username}}</td>
            <td>{{notification.notificationMessage}}</td>
            <td><button (click)="removeNotification(notification.userId, notification.postId)">Remove</button></td>
          </tr>
        </tbody>
    </table>
</div>

<div class="logout">
  <a [routerLink]="['/home']">Logout</a>
</div>