<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Post</title>
  <!-- Add Bootstrap CSS link here -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="card my-4">
      <h5 class="card-header">Create Post</h5>
      <div class="card-body">
        <div class="form-group">
          <input type="text" name="textContent" placeholder="Enter your thoughts!" class="form-control"
            [(ngModel)]="textContent">
        </div>
        <div class="form-group">
          <input type="file" name="imageContent" class="form-control" (change)="onUpload($event)">
        </div>
        <div class="form-group">
          <button (click)="uploadPost()" class="btn btn-primary">Post</button>
          <span>{{postStatus}}</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Bootstrap and jQuery scripts here -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
