<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timeline</title>
  <!-- Add Bootstrap CSS link here -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="timeline-heading">Timeline - {{username}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6" style="float:left">
        <div class="mb-3">
          <a [routerLink]="['/post']" class="btn btn-primary">Create Post</a>
        </div>
      </div>
      <div class="col-6" style="float:right">
        <div class="createPost mt-3">
          <a [routerLink]="['/profile']" class="btn btn-primary">Profile</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="timeline">            
          <div class="continaer" *ngIf="posts.length==0">
            <p class="card-text">There are not posts yet! Tell your friends to be more active!</p>
          </div>
          <div class="container" *ngFor="let post of posts">
            <div class="post card mb-3">
              <div class="card-body">
                <h5 class="card-title">{{ post.username }}</h5>
                <p class="card-text">{{ post.textContent }}</p>
                <img [src]="post.imageContent" class="postImage img-fluid"
                  alt="Post Image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      
  </div>

  <!-- Add Bootstrap and jQuery scripts here -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
