<div class="container">
    <p>Registration</p>
    <div class="form-group">
        <input type="text" name="username" placeholder="Enter username" [(ngModel)]="username" class="form-control">
    </div>
    <div class="form-group">
        <input type="password" name="password" placeholder="Enter password" [(ngModel)]="password" class="form-control">
    </div>
    <div class="form-group">
        <textarea name="description" name="description" placeholder="Enter Description" cols="30" rows="10" [(ngModel)]="description"></textarea>
    </div>
    <div class="form-group">
        <button (click)="registerUser()">Register!</button>
        <span>{{registrationStatus}}</span>
    </div>
</div>